Natural Text
I found how to use pip command in code:It displays all packages in command prompt.But it doesn't work this way:It doesn't writes it to file, it prints in console again.How to run this command in the right way?
Redirection is implemented in the shell/terminal, that means the command must be executed in the shell using shell=True keyword argument. Otherwise subprocess executes the first item in the list and uses the rest as arguments to it. See the documentation for subprocess for more information.
Use this:or, call if you prefer that


Answer URL
https://docs.python.org/3/library/subprocess.html#frequently-used-arguments
