<div class="post-text" itemprop="text">
<p>I created my first package. When I try to install it with pip in a newly created virtualenv I get an error indicating that libs cannot be imported, yet they are added to the <code>install_requires</code> field in <code>setup.py</code>. If I do it outside a vierualenv, all is ok.
My setup.py is here: <a href="https://github.com/tdi/pyPEPA/blob/dev/setup.py" rel="nofollow">https://github.com/tdi/pyPEPA/blob/dev/setup.py</a></p>
<p>To reproduce the error:</p>
<pre><code>mkvirtualenv something -p /usr/bin/python3
workon something
pip install pypepa
</code></pre>
<p>.</p>
<pre><code>Downloading/unpacking pypepa
 Running setup.py egg_info for package pypepa
 Traceback (most recent call last):
  File "&lt;string&gt;", line 16, in &lt;module&gt;
  File "/home/tdi/.virtualenvs/koza/build/pypepa/setup.py", line 3, in &lt;module&gt;
    import pypepa
  File "./pypepa/__init__.py", line 6, in &lt;module&gt;
    from pypepa.pepa_model import PEPAModel
  File "./pypepa/pepa_model.py", line 6, in &lt;module&gt;
    from pypepa.parsing.parser import PEPAParser
  File "./pypepa/parsing/parser.py", line 5, in &lt;module&gt;
    from pyparsing import Word, Literal, alphas, alphanums, nums, Combine, Optional, ZeroOrMore, Forward, restOfLine
ImportError: No module named 'pyparsing'
Complete output from command python setup.py egg_info:
Traceback (most recent call last):
File "&lt;string&gt;", line 16, in &lt;module&gt;
 File "/home/tdi/.virtualenvs/koza/build/pypepa/setup.py", line 3, in &lt;module&gt;
import pypepa
File "./pypepa/__init__.py", line 6, in &lt;module&gt;
from pypepa.pepa_model import PEPAModel
 File "./pypepa/pepa_model.py", line 6, in &lt;module&gt;
from pypepa.parsing.parser import PEPAParser
 File "./pypepa/parsing/parser.py", line 5, in &lt;module&gt;
  from pyparsing import Word, Literal, alphas, alphanums, nums, Combine, Optional, ZeroOrMore, Forward, restOfLine
 ImportError: No module named 'pyparsing'
 ----------------------------------------
 Command python setup.py egg_info failed with error code 1 in      /home/tdi/.virtualenvs/koza/build/pypepa
 Storing complete log in /home/tdi/.pip/pip.log
</code></pre>
</div>
<div class="post-text" itemprop="text">
<p>Your setup script imports pypepa which imports pypepa.pepa_model which imports pyparsing, but pyparsing is not installed yet (we haven’t even finished running the setup script to know what the dependencies are).  The solution is to repeat the version number in pypepa and setup.py (so you can remove the import), or not import PEPAModel in __init__.py.</p>
</div>
<div class="post-text" itemprop="text">
<p>Python3 uses distutils and <code>setup()</code> will take a <code>requires</code> keyword arguments. From <a href="http://docs.python.org/3/distutils/setupscript.html" rel="nofollow">the docs</a>:</p>
<blockquote>
<p>Dependencies on other Python modules and packages can be specified by supplying the <em>requires</em> keyword argument to setup(). </p>
</blockquote>
<p>Change <code>install_requires</code> to <code>requires</code> in you <strong>setup.py</strong> script.</p>
</div>
<span class="comment-copy">why are you using <code>install_requires</code> instead of straight <code>requires</code>?</span>
<span class="comment-copy">@brice ok thanks for that, I am a little bit confused by it</span>
<span class="comment-copy">requires was never implemented by tools and should not be used.</span>
<span class="comment-copy">@ÉricAraujo how should it be done then ?</span>
<span class="comment-copy">You can use install_requires which is not official but supported by many tools, or pip requirements files, or buildout.</span>
<span class="comment-copy">@ÉricAraujo so this requirements.txt I just ship with the package?</span>
<span class="comment-copy">Yes.  Note that a requirements file is only compatible with pip and some tools built on top of it, whereas install_requires works with setuptools, pip, buildout and others.</span>
