Natural Text
I created my first package. When I try to install it with pip in a newly created virtualenv I get an error indicating that libs cannot be imported, yet they are added to the install_requires field in setup.py. If I do it outside a vierualenv, all is ok.My setup.py is here: https://github.com/tdi/pyPEPA/blob/dev/setup.pyTo reproduce the error:.
Your setup script imports pypepa which imports pypepa.pepa_model which imports pyparsing, but pyparsing is not installed yet (we haven’t even finished running the setup script to know what the dependencies are).  The solution is to repeat the version number in pypepa and setup.py (so you can remove the import), or not import PEPAModel in __init__.py.
Python3 uses distutils and setup() will take a requires keyword arguments. From the docs:Dependencies on other Python modules and packages can be specified by supplying the requires keyword argument to setup(). Change install_requires to requires in you setup.py script.


Answer URL
