<div class="post-text" itemprop="text">
<p>I have a requirements.txt file with data like</p>
<pre><code>py3DNS==3.1.0; python_version &gt; '3'
scapy-python3==0.23; python_version &gt; '3'
pyDNS==2.3.6; python_version &lt; '3'
scapy==2.4.0; python_version &lt; '3'
</code></pre>
<p>for specifying python version during installation of libraries</p>
<p>and in setup.py I am using to load requirements from requirements.txt file</p>
<pre><code>requirements = open("requirements.txt").read().rsplit()
setup(
install_requires=requirements,
...)
</code></pre>
<p>and got this </p>
<pre><code>requirements = ['py3DNS==3.1.0;', 'python_version', '&gt;', "'3'", 'scapy-python3==0.23;', 'python_version', '&gt;', "'3'", 'pyDNS==2.3.6;', 'python_version', '&lt;', "'3'", 'scapy==2.4.0;', 'python_version', '&lt;', "'3'"]
</code></pre>
<p>which basically can't be used, I can make changes manually but I wanted to know if there is any generic way to do this stuff</p>
</div>
<div class="post-text" itemprop="text">
<p>try to split to lines like this:</p>
<pre><code>requirements = open("requirements.txt").read().split('\n')
</code></pre>
<p>which yields</p>
<pre><code>requirements = ["py3DNS==3.1.0; python_version &gt; '3'",
"scapy-python3==0.23; python_version &gt; '3'",
"pyDNS==2.3.6; python_version &lt; '3'",
"scapy==2.4.0; python_version &lt; '3'",
'']
</code></pre>
<p>you can alternativelly do following to get just the package and the version:</p>
<pre><code>requirements = list(map(lambda x: x.split(';')[0], requirements)
</code></pre>
<p>to get </p>
<pre><code>['py3DNS==3.1.0', 'scapy-python3==0.23', 'pyDNS==2.3.6', 'scapy==2.4.0', '']
</code></pre>
</div>
<span class="comment-copy">Hmmm, scapy==2.4.0 works with python3, I dont see the point of having a switch for it</span>
<span class="comment-copy">Why are you processing <code>requirements.txt</code> manually in <code>setup.py</code>? That's an unusual way to use <code>requirements.txt</code>. <a href="https://pip.pypa.io/en/latest/user_guide/#requirements-files" rel="nofollow noreferrer">The usual way</a> is <code>pip install -r requirements.txt</code>, and it's not clear whether any of the usual reasons to use <code>requirements.txt</code> apply here.</span>
<span class="comment-copy">@Cukic0d I am not sure about scapy installation but there is another lib pydns which won't work with python3</span>
<span class="comment-copy">@user2357112 <code>pip install -r requirements.txt</code> works with terminal but I want to add data into the setup.py file instead so that user can run <code>python setup.py install</code> and be done with it. As a matter of fact I can run the pip command with os.system but I don't  think that will be the best way to do this stuff.</span>
<span class="comment-copy">There's a built-in <a href="https://docs.python.org/3/library/stdtypes.html#str.splitlines" rel="nofollow noreferrer"><code>splitlines()</code> method</a>; why not use that?</span>
<span class="comment-copy">I was going to use this method but I wanted to know if python setup.py can work with requirements.txt with different versions, maybe a function that can automatically do the task for me.</span>
