<div class="post-text" itemprop="text">
<p>I installed Python 3.7.2 and VSCode 1.32.1 on Mac OS X 10.10.2. In VSCode I installed the Pyhton extension and got a message saying: </p>
<p>"Operating system does not meet the minimum requirements of the language server. Reverting to alternative, Jedi". </p>
<p>When clicking the "More" option under the message I got information indicating that I need OS X 10.12, at least. </p>
<p>I tried to install an older version of the extension, did some reading here and asked Google, but I'm having a hard time since I don´t really know what vocabulary to use. </p>
<p>My questions are: 
Will the extension work despite the error message?
Do I need to solve this, and how do I do that?</p>
</div>
<div class="post-text" itemprop="text">
<p>The extension will work without the language server, but some thing won't work quite as well (e.g. auto-complete and some refactoring options). Basically if you remove the <code>"python.jediEnabled"</code> setting -- or set it to <code>false</code> -- and the extension works fine for you then that's the important thing. :)</p>
</div>
<span class="comment-copy">Practically? That not all of the VSCode features will work. If you are learning to code, that is probably <i>a good thing</i>. IMO, when you are learning to code, you should use as bare-bones a development environment as possible. In any case, there doesn't seem to be anything that you need to "solve".</span>
