<div class="post-text" itemprop="text">
<p>There is great documentation for installing packages 1-by-1 on azure databricks but not a way to do the equivalent of: </p>
<pre><code>pip install -r requirements.txt
</code></pre>
<p>or to use the requirements file at all. Am managing a fairly large library and would like a simple process that allows to install all packages/libraries at once if possible!</p>
</div>
<div class="post-text" itemprop="text">
<p>To make third-party or locally-built code available to execution environments running on your clusters, you can install a library on the cluster. Libraries can be written in Python, Java, Scala, and R. You can upload Java, Scala, and Python libraries and point to external packages in PyPI, Maven, and CRAN repositories.</p>
<p>You can manage libraries using the UI, the CLI, and by invoking the Libraries API.</p>
<p>For the other methods, see <a href="https://docs.databricks.com/user-guide/dev-tools/databricks-cli.html#databricks-cli" rel="nofollow noreferrer">Databricks CLI</a> and <a href="https://docs.databricks.com/api/latest/libraries.html#library-api" rel="nofollow noreferrer">Libraries API</a>.</p>
<p>In Databricks Runtime 5.1 and above, you can also install Python libraries directly into a notebook session using <a href="https://docs.databricks.com/user-guide/dev-tools/dbutils.html#dbutils-library" rel="nofollow noreferrer">Library utilities</a>. Because libraries installed into a notebook are guaranteed not to interfere with libraries installed into any other notebooks even if all the notebooks are running on the same cluster, Databricks recommends that you use this method when possible.</p>
<p>Please refer the <a href="https://docs.databricks.com/user-guide/libraries.html#id16" rel="nofollow noreferrer">Create Workspace Library</a> for creation of library.It quite easy task.</p>
<p>Below , you can find the complete documentation on the same</p>
<p><a href="https://docs.databricks.com/user-guide/libraries.html" rel="nofollow noreferrer">https://docs.databricks.com/user-guide/libraries.html</a></p>
<p>Hope it  helps.</p>
</div>
<span class="comment-copy">but you cannot install large numbers of libraries from a list such as requirements.txt as-of-yet?</span>
<span class="comment-copy">Yes, you are right.</span>
