<div class="post-text" itemprop="text">
<p>I've got URL similar to<code>https://github.com/me/my-project/archive/master.zip</code></p>
<p>During development, I was able to install it with:</p>
<p><code>pip install https://github.com/me/my-project/archive/master.zip</code></p>
<p>How would I go about adding that to requirements.txt? I can only see options for repositories.</p>
<p>Thanks.</p>
</div>
<div class="post-text" itemprop="text">
<p>I found out! This needs to be added to requirements.txt:</p>
<p><code>-e git+https://github.com/me/my-project/#egg=my-project</code></p>
<p>Previously I was using a different VCS tag which was giving me some funky errors.</p>
</div>
<div class="post-text" itemprop="text">
<p>Not sure how to achive this via Pip<br/><br/>
I can suggest, if you aren't able to find any solutions this way, to use pipenv.</p>
<p><i>Pipenv is a tool that aims to bring the best of all packaging worlds (bundler, composer, npm, cargo, yarn, etc.) to the Python world. Windows is a first-class citizen, in our world.<br/>
It automatically creates and manages a virtualenv for your projects, as well as adds/removes packages from your Pipfile as you install/uninstall packages. It also generates the ever-important Pipfile.lock, which is used to produce deterministic builds.</i></p>
<p>Pipenv on Github: <a href="https://github.com/pypa/pipenv" rel="nofollow noreferrer">https://github.com/pypa/pipenv</a></p>
<p>Hope it helps<br/>
<b>Hele</b></p>
</div>
<span class="comment-copy">You call look into this too <a href="https://python-packaging.readthedocs.io/en/latest/dependencies.html#packages-not-on-pypi" rel="nofollow noreferrer">python packaging</a></span>
<span class="comment-copy">Please accept this answer</span>
