Natural Text
I have a requirements.txt file with data likefor specifying python version during installation of librariesand in setup.py I am using to load requirements from requirements.txt fileand got this which basically can't be used, I can make changes manually but I wanted to know if there is any generic way to do this stuff
try to split to lines like this:which yieldsyou can alternativelly do following to get just the package and the version:to get 


Answer URL
https://docs.python.org/3/library/stdtypes.html#str.splitlines
