Natural Text
Hi there so I am looking to build this python function with simple things like def, find etc. so far I know how to get the first part of the code.Given a string such as "HELLODOGMEMEDOGPAPA", I will need to return a list that gives me three things:Everything before the word dog which i will denote as before_dogThe word dog until dog appears again dog_todogEverything after the second time dog appears will be denoted by after_todogThe list will be in the form [before_dog,dog_todog,after_todog].so for example given ("HELLODOGMEMEDOGPAPADD") this will return the list("HELLO","DOGMEME","DOGPAPADD") another example would be ("HEYHELLOMANDOGYDOGDADDY") this would return the list("HEYHELLOMAN","DOGY","DOGDADDY")but if I have ("HEYHELLODOGDADDY")the output will be ("HEYHELLO","DOGDADDY","")also if dog never appears ("HEYHELLOYO") then the output will be ("HEYHELLOYO,"","")This is what I have so far:
Funny function  with  function:The output:Alternative solution with  and  functions:
This is pretty easy to do using the  function. For example, you can split any string by a delimiter, like dog, as so:You could then use the output of that in a list comprehension, like so:The only slightly tricky bit is making sure you don't prepend dog to the first string in the list, hence the little bits of slicing.
 the string at 'DOG' and use conditions to get the desired resultOutput:
Splitting at  is the key!! This code will for all the cases that you have mentioned.Output :


Answer URL
https://docs.python.org/3/library/stdtypes.html#str.split
https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions
